body{
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 20px;
}

.gallery img {

    width: 300px;
    height: auto;
    border-radius: 8px;
}